@import url('https://fonts.googleapis.com/css?family=Montserrat');
nav { font-family: 'Montserrat', sans-serif; }

body{
    font-family: "Times New Roman", Times, serif;
}

#left {
    width: 47%;
    float: left;
    margin-right: 6%;
}

#right {
    width: 47%;
    float: left;
}

.reportform{
    padding-left: 25px;
    padding-right: 25px;
}

.confform{
    padding-left: 25px;
    padding-right: 25px;
}
.reportform:after{
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}



h2{
    padding-left: 25px;
    padding-right: 25px;
}

input[type=submit]{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #008CBA;
    color: white;
  }
  
.submitbutton{
    content: "\0020";
    display: block;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}